.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #username{
    padding: 6px;
    padding-right: 23px;
    border-color: skyblue;
    margin-left: 83px;
  }
  .set{
    padding: 6px;
    padding-left: 21px;
    border-color: skyblue;
    margin-left: 51px;
    margin-left: 128px;
  }
  .center{
    margin-left: 691px;
  }
  .sss{
    padding: 4px;
    padding-left: 31px;
    margin-left: 36px;
    border-color: skyblue;
    
    
}
.text{
  padding: 6px;
    padding-right: 23px;
    border-color: skyblue;
    margin-left: 81px;
}
.middle{
  margin-left: 142px;
}
  