<h1 class=" center mt-5">Addmission Form</h1>


  

  <div class="middle">
  <form>
    <label for="username"><h2>FirstName:</h2></label>
    <input type="text" id="username" name="username" maxlength="20"placeholder="FirstName"><br><br>
    
  </form>
  <form>
    <label for="username"><h2>LastName:</h2></label>
    <input type="text" id="username" name="username" maxlength="20"placeholder="LastName"><br><br>
   
  </form>
    <form>
        <div>
          <label for="formGroupExampleInput"><h2>Class:</h2></label>
          <input type="text" class=" set" id="formGroupExampleInput" placeholder="Class">
        </div>
        <div>
          <label for="start"><h2>Year of Passing:</h2></label>
  
          <input class="sss center" type="month" id="start" name="start"
                 min="2002-01" value="2017-01">
  </div>
  <label for="country_code"><h2>Percentage</h2></label>
  <input type="text" class="text"id="country_code" name="country_code" pattern="[A-Za-z]{3}" title="Three letter">
       
    </form>
   
    <button class="crt  bg-success"style="color:white;">Submit</button>
  </div>
    
   
  
  
  
  
  